
/* Global site styles */
body {
    background-color: cadetblue;
    color: aliceblue; /* ensure text is readable on blue background */
    font-family: "Comic Sans MS", cursive, sans-serif; /* fun and playful font */
}
 /* center the main heading */
 h1{
display: block;
width: fit-content;
margin: 0 auto;
border: 2px aliceblue dotted;
padding: 10px;
margin: 20px auto;
background-color: rgb(12, 84, 108);
 }
img{
    border: 20px solid rgb(12, 84, 108);
    float: left;
    margin: 10px;
}   
.right-float{
    float: right;
    margin-left: 20 px;
    margin-right: 0;
}
h3{
    clear: both; /* ensure h3 is below the floated image */
}
.glow{
    transition: filter 0.2s ease;
}
.glow:hover {
    filter: drop-shadow(0 0 40px rgb(250, 212, 239));
}
/* unvisted links */
a:link {
    color: rgb(26, 93, 180);
}
/* visited links */
a:visited {
    color: rgb(26, 93, 180);
}
/* hover effect for links */
a:hover {
    color: rgb(250, 212, 239);
    text-decoration: underline;
}
.hover-me{
    background:rgb(26, 93, 180);
    transition: background 0.3s ease;
}
.hover-me:hover {
    background: rgb(250, 212, 239);
    cursor: pointer;
}
.container {
    background-color: rgb(185, 212, 221);
    padding: 5px;
    margin: 10px auto;
    border: 2px solid rgb(26, 76, 121);
    color: rgb(26, 76, 121); /* ensure text is readable on blue background */
    border-radius: 20px;
    width: fit-content;
}